html{
    min-height:100%;
}

body {
    min-height:100%;
    height:auto;
    background: linear-gradient(90deg, rgba(48, 248, 145, 0.15) 0%, rgba(61, 146, 56, 0.04) 100%, rgba(96, 167, 48, 1) 120%);
}


.footer {
    padding:5% 0% 2% 0%;
}

.ui.main.segment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    -webkit-transform: translate(-50%, -90%);
    height: 550px;
}

.ui.segment {
    height: 200px;
}
.ui.sec {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    -webkit-transform: translate(-50%, 30%);
    height: 350px;
}

.horizontal.divider {
}

#icon {
    width: 250px;
}

.ui.vertical.divider {
    height:47%;
    left:37%;
}
